@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url(../fontes/roboto/Roboto-Regular.ttf);

    font-family: 'dealerplate_california';
    src: url(../fontes/dealerplate_california/dealerplatecalifornia.otf);

    font-family: 'sono';
    src: url(../fontes/sono/desktop/Sono-Regular.ttf);
}

@media (max-width: 650px) {

    main {
        padding: 0px 8px 0px 8px;
        min-width: 220px;
    }
}

@media (min-width: 651px) and (max-width: 1360px) {

    main {
        margin: 0px 100px;
    }
}

body {
    background-color: white;
    max-width: 1360px;
    margin: 0px;
}

header {
    background-color: rgb(178, 219, 255);
    background-image: url(../imagens/pexels-creative-vix-7283.jpg);
    background-position: center center;
    text-align: center;
    padding: 80px;
    margin: -8px 0px 0px 0px;
}

header > h1 {
    color: white;
    font-size: 2.8em;
    text-shadow: white 1px 1px 1px;
    font-variant: small-caps;
}

p {
    font-family: Verdana, Tahoma, sans-serif;
    text-align: justify;
    line-height: 20px;
}

h1 {
    text-align: center;
    color: #125241;
    font-family: 'Roboto';
    text-shadow: #125241 1px 1px 1px;
}

h2 {
    font-family: 'sono';
}

h3 {
    font-family: 'sono';
}

ul {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.2em;
}

a {
    color: rgb(0, 56, 3);
    text-decoration: none;
    text-shadow: rgb(0, 56, 3) 1px 1px 1px;
}

a:hover {
    color: rgb(2, 173, 11);
    text-decoration: underline;
    text-shadow: rgb(2, 173, 11) 1px 1px 1px;
}

section.introducao {
    background-color: rgb(255, 246, 215);
    margin: 0px -100px 0px -100px;
    padding: 10px 100px 10px 100px;
}

section.introducao > h1 {
    margin: 6px 0px 0px 0px;
    font-size: 2em;
    
}

section.introducao > h2 {
    color: #033629;
}

section.plantando {
    background-image: url(../imagens/RosaDesertoescura-2-1360.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center ;
    background-color: rgb(59, 59, 59);
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 0px -100px 0px -100px;
    padding: 10px 100px 10px 100px;
}

section.plantando > h2 {
    font-weight: bolder;
    text-shadow: white 1px 1px 1px;
}

section.plantando > h3 {
    font-weight: bolder;
    text-shadow: white 0.3px 0.3px 1px;
}

section.cuidados {
    background-color: #dbcdcd;
    margin: 0px -100px 0px -100px;
    padding: 10px 100px 10px 100px;
}

section.cuidados > h1 {
    font-size: 2em;
}

section.cuidados > h2 {
    color: #033629;
}

section.cuidados > h3 {
    color: #0c775c;
}

section.doencas {
    background-image: url(../imagens/fundofolha-escuro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgb(59, 59, 59);
    margin: 0px -100px 0px -100px;
    padding: 10px 100px 10px 100px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

section.doencas > h1 {
    color: white;
    font-size: 2em;
}

section.doencas > h2 {
    color: white;
    font-weight: bolder;
    text-shadow: white 1px 1px 1px;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: max-content;
}

footer > p {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 6px 0px;
}






